#all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px black solid;
}
#one{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #red;
}
#two{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #green;
}
#three{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: blue;
}