
 body
 {
    background-color: #04BFAD;
 }
 div{
    padding: 1rem;
 }
 h1
 {
    color: #0E0F13;
 }
 
 #one h1
 {
     display: inline;
 }
 #button
{
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: #0E0F13;
    background-color: #04BFAD;
    border-radius: 20px;
    border-style:unset;
    border-color: black;
    border: ;
}
#button:hover
{
    background-color: #027373;
    color: #C1D4D9;
}
#w14
{
    width: 203px;

}
#all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px black solid;
}
#one{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #red;
}
#two{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #green;
}
#three{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color:#979DA6;
}
#four{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #C1D4D9;
    text-align: center;
}
#five{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #027373;
}
#six{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: black;
    align-self: center;
    justify-self: center;
}
#seven{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: black;

}

#margin-box{
    background-color: #04BFAD;
    width: 20px;
    height: 20px;
    margin: 20px;
    border: red 2px solid;
}
#margin{
    background: white;
    color: chartreuse;
}
#padding-box{
    background-color:#979DA6;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    border: 2px solid red;
}
#padding{
    background: #ffff;
    color: chartreuse;
    
}